.card{
    padding-top: 100px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.align-left{
    text-align: left;
}
table {
    border-collapse: collapse;
  }
table, th, td {
border: 1px solid;
}
.table-cell{
    padding: 8px;
}